.login-container{
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-self: center;
    align-items: center;
    div{
        display: flex;
        flex-direction: column;
        input{
            padding: 0.5rem;
            font-size: 1.5rem;
            border: 1px solid #B4B4B4;
            border-radius: 4px;
            outline: none;
        }
       
    }
}
button{
    padding: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    width: 80%;
    background: linear-gradient(90deg, #385284 0%, #385284 100%);
}
}
main{
    flex: 1;
    height: 100vh;
}
.error{
    color: red;
    font-size: 12px;
    min-height: 15px;
    margin-top: 8px;
    margin-bottom: 0;
}